
body {
  width: 100%
}

#top-nav {
  display: flex;
  margin-bottom: 0;
  margin-top: 25px;
  width: 100%;
  height: 50px;
}

a {
  text-decoration: none;
  color: #4a4a4f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  font-size: 20px;
  margin: 15px;
}

#notification {
  margin-top: 8px;
  float: right;
  width: 20px;
}

#about {
}

#user-icon {
  float: right;
  width: 32px;
  margin: 0 15px;
  border-radius: 16px;
}

#gmail {
  float: right;
  margin: 0 15px;
}

#images {
  float: right;
  margin: 0 15px;
}

#apps-icon {
  float:right;
  width: 30px;
  margin: 0 15px;
}

#right-top {
  margin-left: auto;
  margin-right: 25px;
}

#logo-box {
  margin-top: 100px;
  width: 100%;
}
form {
  text-align: center;
}

#logo-box img {
  width: 400px;
  display: block;
  margin: auto;
}

footer {
  width: 100%;
  bottom: 0;
  position: fixed;
}

#footer-list {
  margin-top: 50px;
}

#settings {
  float: right;
  margin-right: 25px;
}

#terms {
  float: right;
  margin-right: 25px;
}

#privacy {
  float:right;
  margin-right: 25px;
}
