
body {
  width: 100%
}

#top-nav {
  display: flex;
  margin-bottom: 0;
  margin-top: 25px;
  width: 100%;
  height: 50px;
}

#left-list #right-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

#left-list li {
  font-size: 25px;
}
#left-top {
  float:left;
}

#right-top {
  margin-left: auto;
}

#logo-box {
  margin-top: 100px;
  width: 100%;
}

#logo-box img {
  width: 400px;
  display: block;
  margin: auto;
}
